In [1]:
import pandas as pd
import numpy as np
import time
import os
import csv
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [2]:
df1 = pd.read_csv('amsterdam_weekdays.csv')
df2 = pd.read_csv('amsterdam_weekends.csv')
df3 = pd.read_csv('athens_weekdays.csv')
df4 = pd.read_csv('athens_weekends.csv')
df5 = pd.read_csv('barcelona_weekdays.csv')
df6 = pd.read_csv('barcelona_weekends.csv')
df7 = pd.read_csv('berlin_weekdays.csv')
df8 = pd.read_csv('berlin_weekends.csv')
df9 = pd.read_csv('budapest_weekdays.csv')
df10 = pd.read_csv('budapest_weekends.csv')
df11 = pd.read_csv('lisbon_weekdays.csv')
df12 = pd.read_csv('lisbon_weekends.csv')
df13 = pd.read_csv('london_weekdays.csv')
df14 = pd.read_csv('london_weekends.csv')
df15 = pd.read_csv('paris_weekdays.csv')
df16 = pd.read_csv('paris_weekends.csv')
df17 = pd.read_csv('rome_weekdays.csv')
df18 = pd.read_csv('rome_weekends.csv')
df19 = pd.read_csv('vienna_weekdays.csv')
df20 = pd.read_csv('vienna_weekends.csv')

In [3]:
df3.head()

,city,dow,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,...,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,Athens,Weekday,129.824479,Entire home/apt,False,False,4,False,0,0,...,100,2,2.813964,0.881890,55.348572,2.086871,78.778377,5.915160,23.76600,37.98300
1,Athens,Weekday,138.963748,Entire home/apt,False,False,4,True,1,0,...,96,1,0.407293,0.304568,240.306654,9.060559,407.167696,30.572629,23.73168,37.97776
2,Athens,Weekday,156.304924,Entire home/apt,False,False,3,True,0,1,...,98,1,1.237211,0.288488,199.507366,7.522257,395.967403,29.731642,23.72200,37.97900
3,Athens,Weekday,91.627024,Entire home/apt,False,False,4,True,1,0,...,99,1,4.367457,0.297467,39.803047,1.500740,58.706578,4.408047,23.72712,38.01435
4,Athens,Weekday,74.051508,Private room,False,True,2,False,0,0,...,100,1,2.194185,0.385266,78.733405,2.968577,113.325973,8.509204,23.73391,37.99529

In [5]:
dfs = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20])

In [6]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51707 entries, 0 to 1798
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   city                        51707 non-null  object
 1   dow                         51707 non-null  object
 2   realSum                     51707 non-null  float64
 3   room_type                   51707 non-null  object
 4   room_shared                 51707 non-null  bool
 5   room_private                51707 non-null  bool
 6   person_capacity             51707 non-null  int64
 7   host_is_superhost           51707 non-null  bool
 8   multi                       51707 non-null  int64
 9   biz                         51707 non-null  int64
 10  cleanliness_rating          51707 non-null  int64
 11  guest_satisfaction_overall  51707 non-null  int64
 12  bedrooms                    51707 non-null  int64
 13  dist                        51707 non-null  float64
 14  metro_dist                  51707 non-null  float64
 15  attr_index                  51707 non-null  float64
 16  attr_index_norm             51707 non-null  float64
 17  rest_index                  51707 non-null  float64
 18  rest_index_norm             51707 non-null  float64
 19  lng                         51707 non-null  float64
 20  lat                         51707 non-null  float64
dtypes: bool(3), float64(9), int64(6), object(3)
memory usage: 7.6+ MB

In [7]:
dfs.to_csv("bnb.csv", index=False)